<h1>User: <%= @user.email %> </h1>

<ul>
    <% @posts.each do |post| %>
        <li>
            <h4>
                <%= post.title %>
            </h4>
            <p>
                <%= post.body %>
            </p>
        </li>
    <% end %>
</ul>